/* CSS declarations go here */
* {
	text-align: center;
}

body {
	background: #33ccff;
}

h1 {
	color: #e6f9ff;
	text-shadow: 2px 2px #009ccc;
}

.weather {
	background: #e6f9ff;
	border-radius: 25px;
	display: inline-block;
	padding: 15px;
}
